html, body {
  height: 100%;
  width: 100%;
}
p{
  font-size:20px;
}
.container{
  font-size:25px
}
.form-label{
  margin-left:1%;
}
.card{
  width:75vw!important;
}
#todos{
  width:70vw
}
@media only screen and (max-width: 768px) {
  #todos{
  width:75vw
}
}
@media only screen and (max-width: 550px) {
  .card{
    width:90vw!important;
  }
  #todos{
  width:85vw
}
}
